<!-- thymeleaf 작성 위한 속성 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">

<head>
    <!-- 구글폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/mainPage/MainIcon.png"/>
    <title>마음이</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- main css -->
    <link rel="stylesheet" href="/css/mainPage/common.css">    
    <link rel="stylesheet" href="/css/mainPage/main.css">    
</head>

<body>

<div class="container py-3">
    <!-- 헤더 (네비게이션바) -->
    <header>
        <!-- nav bar -->
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a th:href="@{/}" class="d-flex align-items-center text-dark text-decoration-none">
                <a th:href="@{/}"><img src="/img/mainPage/MainIcon.png" height="50px" width="50px"></a>
                <span class="fs-4">마음이</span>
                <span class="fs-1">
                            <h6>마음을 치유하고싶은 이들을 위해</h6>
                        </span>
            </a>


            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/face/emotion}">감정 분석</a>
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/boards}">마음이들</a>
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/consulting}" >상담</a>
                <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/chat/list}" >상담 목록</a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="py-2 text-dark text-decoration-none">로그인</a>
                <div th:object="${session.user}" style="display:flex; align-items: center;">
                    <a th:href="@{/mypage/patient}" sec:authorize="hasRole('ROLE_USER')" class="me-3 py-2 text-dark text-decoration-none">마이페이지</a>
                    <a th:href="@{/mypage/expert}" sec:authorize="hasRole('ROLE_EXPERT')" class="me-3 py-2 text-dark text-decoration-none">마이페이지</a>
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none">로그아웃</a>
                </div>
            </nav>
        </div>
        <!-- end nav bar -->
    </header>
    <!-- close 헤더 (네비게이션바) -->

    <!-- 감정 분석 페이지 이동 섹션 -->
    <section class="section1">
        <img class="emotionImage" src="/img/mainPage/main_emotion.png">
        <div class="s1Text">
            <p>마음이 울적하다면 오늘 하루는 자신의 모습인지</p>
            <p>알아보는 시간을 가지는 건 어떨까요?</p>
        </div>
        <div class="emotionButton">
            <a class="btn btn-light" th:href="@{/face/emotion}" >감정 분석하기</a>
        </div>
    </section>
    <!-- end section -->

    <!-- link card -->
    <header class="section2"><h2>오늘은 어떤 것을 하고 싶으신가요?</h2></header>
    <section class="s2CardSection row">
        <div class="s2Card col-sm-4">
            <a th:href="@{/face/emotion/}" style="text-decoration: none; color:black">
                <div style="border: 0px solid black; background-color:rgb(251, 210, 210)" class="card cardBody">
                    <div class="s2InCard card-body">
                        <h4 style="margin-bottom:30px;" class="s2CardTitle card-title">오늘의 기분 확인</h4>
                        <img class="s2Img" src="/img/mainPage/emotion.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="s2Card col-sm-4">
            <a style="text-decoration: none; color:black" th:href="@{/boards}">
                <div style="border: 0px solid black; background-color:rgb(255, 229, 206)" class="card cardBody">
                    <div class="s2InCard card-body">
                        <h4 style="margin-bottom:30px;" class="s2CardTitle card-title">오늘의 감정 글로 작성</h4>
                        <img class="s2Img" src="/img/mainPage/note.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="s2Card col-sm-4">
            <a style="text-decoration: none; color:black" th:href="@{/consulting}" >
                <div style="border: 0px solid black; background-color:rgb(250, 250, 196)" class="card cardBody">
                    <div class="s2InCard card-body">
                        <h4 style="margin-bottom:30px;" class="s2CardTitle card-title">상담 요청</h4>
                        <img class="s2Img" src="/img/mainPage/heart.png">
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- end link card -->

    <!-- 전문가 찾기 section -->
    <section class="section3 cardBody">
        <div>
            <h1>나에게 어울리는 전문가</h1>
        </div>
        <div style="font-size: 20px; margin-top : 20px;">
            <p>현재 자신이 겪고 있는 상황에 대해 맞는 전문가를 찾아보세요!</p>
        </div>
        <div style="margin-top: 10px;">
            <p><a style="text-decoration: none; color: black" th:href="@{/consulting}" >전문가 찾기</a></p>
        </div>
        <div class="section3Img">
            <img style="width: 400px; height: 400px;" src="/img/mainPage/section3Img.png">
        </div>
    </section>
    <!-- end 전문가 찾기 section -->

    <!-- 푸터 -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div style="width: 100%; text-align: center;" class="col-6 col-md">
                <h3 style="margin-bottom:20px;">융복합 캡스톤 디자인 - 마음이</h3>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none">팀장 : 컴퓨터 소프트웨어 공학과 20193117 이주혁</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none">팀원 : 컴퓨터 소프트웨어 공학과 20172178 이수찬</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none">팀원 : 컴퓨터 소프트웨어 공학과 20172705 손진영</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>



</body>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    // 회원 탈퇴 혹은 로그아웃 시 사용되는 JS , 쿼리 파라미터로 넘겨온 값을 활용하여 상태를 알려준다.
    var message = "[[${alertmsg}]]";
    if(message){
        alert(message);
    }
</script>

</html>